@model Car
@{
    ViewData["Title"] = "View Car";
}
 <div class="d-flex justify-content-center align-items-center h-90">
         
            <div class="container mt-5">
                <h4 class="text-center mb-5 text-success"><u>Detail Information of Car</u></h4>
                <div class="card shadow-lg">
                    <div class="row">
                        <div class="col-md-4">
                           
                                <img class="card-img-top m-3" style="height:325px;"
                                    src="@Model.CarImageUrl">
                          
                        
                        </div>
                        <div class="col-md-8">
                            <div class="card-body mt-2">
                                <h4 class="card-title">@Model.Manufacturer</h4>
                                <hr>
                                <div class="row mt-3">
                                    <div class="col-sm-3">
                                        <h6 class="fw-bold mb-2">Model:</h6>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="card-text">@Model.Model</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-3">
                                        <h6 class="fw-bold mb-2">Color:</h6>
                                    </div>
                                    <div class="col-sm-9">
                                <p class="card-text">@Model.Color</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-3">
                                        <h6 class="fw-bold mb-2">Rental Rate:</h6>
                                    </div>
                                    <div class="col-sm-9">
                                <p class="card-text">@Model.RentalRate</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-3">
                                        <h6 class="fw-bold mb-2">Vehicle No:</h6>
                                    </div>
                                    <div class="col-sm-9">
                                <p class="card-text">@Model.VehicleNo</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-3">
                                        <h6 class="fw-bold mb-2">Is Available:</h6>
                                    </div>
                                    <div class="col-sm-9">
                                    <p class="card-text">@Model.IsAvailable</p>
                                    </div>
                                </div>
                        <a asp-controller="Car" asp-action="Index" class="btn btn-secondary mt-3">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

